/** @format */
.layout {
  background-color: rgba(0, 0, 0, 0.5);
}

.body {
  color: #fff;
}

.body {
  color: #017f00;
}

.lighten {
  background-color: #008040;
  color: #008040;
}

.lighten {
  background: #ca6a6a;
}

.lighten {
  background: #891212;
}

.lighten {
  background: #4e4e4e;
}

.test {
  color: rgba(22, 34, 235, 0.8);
  background-color: rgba(22, 34, 235, 0.7);
}

.test {
  color: rgba(22, 34, 235, 0.4);
  background-color: rgba(22, 34, 235, 0.5);
}

.swatches li {
  width: 4.7619047619%;
  float: left;
  height: 60px;
  list-style: none outside none;
}

ul.red li:nth-child(10):hover:before {
  content: "#eb1f48";
  color: #38050f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(9):hover:before {
  content: "#ed365b";
  color: #500716;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(8):hover:before {
  content: "#ef4e6e";
  color: #67091c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(7):hover:before {
  content: "#f16581";
  color: #7f0c23;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(6):hover:before {
  content: "#f37c94";
  color: #960e29;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(5):hover:before {
  content: "#f594a7";
  color: #ad102f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(4):hover:before {
  content: "#f7abba";
  color: #c51236;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(3):hover:before {
  content: "#fac3ce";
  color: crimson;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(2):hover:before {
  content: "#fcdae1";
  color: #eb1f48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(1):hover:before {
  content: "#fef1f4";
  color: #ed365b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(12) {
  background-color: #c51236;
}

ul.red li:nth-child(12):hover:before {
  content: "#c51236";
  color: #f7abba;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(13) {
  background-color: #ad102f;
}

ul.red li:nth-child(13):hover:before {
  content: "#ad102f";
  color: #f594a7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(14) {
  background-color: #960e29;
}

ul.red li:nth-child(14):hover:before {
  content: "#960e29";
  color: #f37c94;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(15) {
  background-color: #7f0c23;
}

ul.red li:nth-child(15):hover:before {
  content: "#7f0c23";
  color: #f16581;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(16) {
  background-color: #67091c;
}

ul.red li:nth-child(16):hover:before {
  content: "#67091c";
  color: #ef4e6e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(17) {
  background-color: #500716;
}

ul.red li:nth-child(17):hover:before {
  content: "#500716";
  color: #ed365b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(18) {
  background-color: #38050f;
}

ul.red li:nth-child(18):hover:before {
  content: "#38050f";
  color: #eb1f48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(19) {
  background-color: #210309;
}

ul.red li:nth-child(19):hover:before {
  content: "#210309";
  color: crimson;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(20) {
  background-color: #0a0103;
}

ul.red li:nth-child(20):hover:before {
  content: "#0a0103";
  color: #c51236;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(21) {
  background-color: black;
}

ul.red li:nth-child(21):hover:before {
  content: "black";
  color: #666666;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  padding: 2px;
}

ul.red li:nth-child(11) {
  background-color: #dc143c;
}
