/** @format */

// 字符串函数
// unquote去除引号
.test1 {
  content: unquote("hello sass");
}
.test2 {
  content: unquote('"hello sass"');
}
.test3 {
  content: unquote("'hello sass'");
}
// quote加引号
.test4 {
  content: quote(test);
}
.test5 {
  content: quote(test test);
}
.test6 {
  content: quote("test" test);
}
// To-upper-case()
.test7 {
  text: to-upper-case(aaa);
}
.test8 {
  text: to-upper-case(aa-AAA-Aa);
}
// To-lower-case()
.test9 {
  text: to-lower-case(aa-AAA-Aa);
}
