/** @format */
$color: red;

body {
  background: $color;
}

$baseLineHeight: 2;
$baseLineHeight: 1.5 !default;
$test: black;
body {
  line-height: $baseLineHeight;
  a {
    $test: yellow; // 局部变量覆盖全局变量
    background: $test;
  }
}

// 选择器嵌套
// 避免选择器嵌套：
// 选择器嵌套最大的问题是将使最终的代码难以阅读。开发者需要花费巨大精力计算不同缩进级别下的选择器具体的表现效果。
// 选择器越具体则声明语句越冗长，而且对最近选择器的引用(&)也越频繁。在某些时候，出现混淆选择器路径和探索下一级选择器的错误率很高，这非常不值得。
// header -> nav -> a

nav {
  a {
    color: red;
    header & {
      color: green;
    }
  }
}

// 属性嵌套
.body {
  font: {
    // 这里不带冒号 就成了 font标签
    size: inherit;
    weight: inherit;
  }
}

// 伪类嵌套
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
}
